<div class="container-fluide" id="nav-bar">
<div class="row">
  <div class="col md-12">
      
      <h1 class="header" style="text-align: center"><img src="./assets/img/github-logo.png" alt="" width="50px" height="50px"> GITHUB-SEARCH</h1>
  </div>
  <!-- <div class="col md-4"> -->
      <!-- <input id="name" class="form-control" type="text" required [(ngModel)]="username" name="name" #name="ngModel"> -->
      <!-- <form action="">
          <div class="form-group"><input type="text"
                  style="margin-top: 7%;  width: 130%; height: 15%;background-color: rgb(70, 68, 68); border: none; color: ghostwhite;"
                  class="form-control" placeholder="search or jump to" [(ngModel)]="username"
                  name="username" (keyup.Enter)="findProfile()"></div>
      </form> -->
      <!-- <button type="submit" class="btn-success"> < 🔍 > SEARCH </button> -->
  <!-- </div> -->
</div>
</div>
