<div class="container">
  <div class="row">
    <app-search-form (addUser)='getResponse($event)'></app-search-form>
  </div>
  <div class="row">
    <div class="col md-6">
      <div appBolder class="profile-card">
        <div class="center">
          <img src="{{user.photoUrl}}" alt="Avatar">
          <h3 appBolder >{{user.userProfile}}</h3>
        </div>
        <p>{{user.bio}}</p>
        <br>
        <div class="follow">
          <button style="margin:5px;" class="btn-info" type="button" name="button">Followers: {{user.followers}}</button>
          <button style="margin:5px;" class="btn-info following" type="button" name="button">Following: {{user.following}}</button>
        </div>
        <br>
        <div class="center">
            Repositories:{{user.numRepos}}<br> 
          <button class="btn btn-success" type="button" name="button" (click)='toggleRepos()'
            (click)='getRepos()'>Click to View </button>
        </div>
        <br>
        <p>Created in {{user.created|dateCount}} day(s) ago.</p>
      </div>
    </div> <!---end div profile-->
    <div class="col-md-6 scroll">
      <div *ngFor='let repo of arrayRepo'>
        <app-repo *ngIf='user.showRepos' [repo]='repo'></app-repo>
      </div>
    </div> <!--end div repos--->
  </div> <!--end div row --->
</div>
<div class="row">
  <div class="col-md-12">
      <div class="footer" style="background-color:rgb(1, 1, 26)">
          <p style="text-align: center">&copy; YvonneGi,2019 Copy Right All right reserved.</p>
          <p style="text-align: center">Email:giryvonne@gmail.com</p>
          <p style="text-align: center">Github username:YvonneGi</p>
        
        </div>
  </div>
</div>